<div class="result">

  <p>Based on <%= @total.to_i %> data-points, people give the following results regarding:</p>

  <br/>
  <h2><%= params[:term] %></h2>
  <br/>

  <%= '%.2f' % @pcent %>% <%= params[:positive] %>
  <div id="positive">
    <% @pcent.to_i.times do %>
      <div class="graph-positive"></div>
    <% end %>
  </div>

  <br/>

  <%= '%.2f' % @ncent %>% <%= params[:negative] %> 
  <div id="negative">
    <% @ncent.to_i.times do %>
      <div class="graph-negative"></div>
    <% end %>
  </div>

  <div id="evals" style="padding:30px">
    <h3>Help us make us better</h3>
    Was this evaluation any good?
    <div style="padding-top:15px">
      <a href="/evaluate?id=<%=@id%>&eval=yes" class="eval awesome"><img src="../images/up.png" alt="Yes" /></a>
      <a href="/evaluate?id=<%=@id%>&eval=no" class="eval awesome"><img src="../images/down.png" alt="No" /></a>
    </div>
  </div>
  
  <div> 
    <a href="/" class="awesome big">Again</a>
  </div>
  
  <p style="font-size:9pt; color:#999" class="disclaimer">
    <span style="vertical-align:super; color:#a80000;">*</span>
    These stats are aggregated based on all searches for <b><%= params[:term] %></b>, therefore the results may be better or worse depending on how many searches
    have been made on this term. 
  </p>

</div>
